{% extends "base.html" %}
{% block style %}
<style>
html,body{
   height:100%;
   width:100%;
}

textarea {
  width: 100%;
  outline: none;
  resize: none;
  overflow: hidden;
  border-width: 0 0 1px;
  border-color: #007bff;
}

textarea:focus {
  border-color: #d9534f;
}

.form-group {
  position:relative;
  & + .form-group {
    margin-top: 10px;
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 5px;
  color: #007bff;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: .75em;
  color: #d9534f;
}

.form-input {
  padding: 0;
}

.form-label.filled {
  color: #28a745;
}

.form-input.filled {
  border-color: #28a745;
}

</style>
{% endblock style%}
{% block content %}
<body class="bg-light">
  <div class="container h-75">
    <div class="mt-5 mb-4"><h5 class="debug">{{ topic }}</h5></div>
    <ul class="nav nav-tabs nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#ideas" role="tab" aria-selected="true"><i class="fas fa-seedling"></i> Ideas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" href="#thesis" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-apple-alt"></i> Thesis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#outline" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-layer-group"></i> Outline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#proofreading" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-eye"></i> Proofreading</a>
      </li>
    </ul>
    <div class="tab-content mt-5">
      <!-- ideas -->
      <div class="tab-pane fade show active" id="ideas" role="tabpanel" aria-labelledby="ideas-tab">
          <div class="row d-flex justify-content-center">
            {% for key, values in idea.get_questions.items %}
            <div class="col-sm-5 mb-5">
              <div class="card border-primary">
                <div class="card-header">
                  {{key|capfirst}} : {{topic}}
                </div>
                <div class="card-body">
                  {% for question in values %}
                    <div class="form-group">
                      <label class="form-label" for="{{key}}-{{ forloop.counter }}">{{question}}</label>
                      <textarea id="{{key}}-{{ forloop.counter }}" class="ideas form-input mb-2" rows="1"></textarea>
                    </div>
                  {% endfor %}
                </div>

              </div>
            </div>
            {% endfor %}
          </div>
      </div>
      <!-- end of ideas -->

      <!-- thesis -->
      <div class="tab-pane fade" id="thesis" role="tabpanel" aria-labelledby="thesis-tab">

<div class="container">
  <div class="row">
    {% for i in "123" %}
    <div class="col">
      <div class="form-group">
        <label class="form-label" for="evidence-{{i}}">Evidence {{i}}</label>
        <textarea id="evidence-{{i}}" class="thesis form-input" rows="1"></textarea>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    {% for i in "123" %}
    <div class="col">
      <div class="form-group">
        <label class="form-label" for="claim-{{i}}">Claim {{i}}</label>
        <textarea id="claim-{{i}}" class="thesis form-input" rows="1"></textarea>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-8">
      <div class="form-group">
        <label class="form-label" for="argument">Main Claim</label>
        <textarea id="argument" class="thesis form-input" rows="1"></textarea>
      </div>
    </div>
  </div>
</div>


      </div>
      <!-- end of thesis -->

      <!-- outline -->
      <div class="tab-pane fade" id="outline" role="tabpanel" aria-labelledby="outline-tab">
        <div class="container">
          <h4 class="text-success"><i class="fas fa-paint-roller"></i> ...</h4>
        </div>
      </div>
      <!-- end of outline -->

      <!-- proofreading -->
      <div class="tab-pane fade" id="proofreading" role="tabpanel" aria-labelledby="proofreading-tab">
        <h4 class="text-danger"><i class="fas fa-shipping-fast"></i> ...</h4>
      </div>
      <!-- end of proofreading -->
    </div>

  </div>
</body>
{% endblock content %}

{% block javascript %}
<script>

function debounce(func, wait, immediate) {
    var timeout;
    return function() {
        var context = this, args = arguments;
        var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
    };
};

$(function() {

  $('textarea').focus(function(){
    $(this).parents('.form-group').addClass('focused');
  });

  $('textarea').blur(function(){
    var inputValue = $(this).val();
    if ( inputValue == "" ) {
      $(this).removeClass("filled");
      $(this).parents('.form-group').removeClass('focused');
    } else {
      $(this).siblings('.form-label').addClass('filled');
      $(this).addClass("filled");
    }
  })

  $('.ideas, .thesis').on('change drop keydown cut paste show', function() {
      $(this).height('auto');
      $(this).height($(this).prop('scrollHeight'));
  });

  $('.nav-tabs a').on('shown.bs.tab', function(e){
    var url = "{% url 'essay:build' %}";
    $.ajax({
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      method: "POST",
      url: url,
      data: {
        fact1: $.trim($('#fact-1').val()),
        fact2: $.trim($('#fact-2').val()),
        definition1: $.trim($('#definition-1').val()),
        definition2: $.trim($('#definition-2').val()),
        quality1: $.trim($('#quality-1').val()),
        quality2: $.trim($('#quality-2').val()),
        policy1: $.trim($('#policy-1').val()),
        policy2: $.trim($('#policy-2').val()),
      },
      success: function (data) {
        if (data['argument'].length > 0) {
          $('#argument').focus();
          $('#argument').html(data['argument']);
          $('#argument').blur();
        }
        $('#evidence-1').focus();
        $('#evidence-1').html(data['evidences'][0]);
        $('#evidence-1').blur();

        $('#evidence-2').focus();
        $('#evidence-2').html(data['evidences'][1]);
        $('#evidence-2').blur();
        $('#evidence-3').focus();
        $('#evidence-3').html(data['evidences'][2]);
        $('#evidence-3').blur();
      }
    });
  });

});
</script>
{% endblock javascript %}





