{% extends "base.html" %}
{% block style %}
<style>
html,body{
   height:100%;
   width:100%;
}
textarea {
  width: 100%;
  outline: none;
  box-shadow:none !important;
  border-width: 0 0 1px;
  border-color: #007bff;
}

textarea:focus {
  border-color: #28a745;
}

.form-group {
  position:relative;

  & + .form-group {
    margin-top: 30px;
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  transition: box-shadow 150ms ease-out;

  &:focus {
    box-shadow: 0 2px 0 0 blue;
  }
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}
</style>
{% endblock style%}
{% block content %}
<body class="bg-light">
  <div class="container h-75">
    <div class="mt-5 mb-4"><h5>{{ topic }}</h5></div>

    <ul class="nav nav-tabs nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#prewriting" role="tab" aria-selected="true"><i class="fas fa-seedling"></i> Ideas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#thesis" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-apple-alt"></i> Thesis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#outline" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-layer-group"></i> Outline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#proofreading" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-eye"></i> Proofreading</a>
      </li>
    </ul>
    <div class="tab-content mt-5">
      <!-- ideas -->
      <div class="tab-pane fade show active" id="prewriting" role="tabpanel" aria-labelledby="prewriting-tab">
          <div class="row d-flex justify-content-center">
            {% for key, values in idea.get_questions.items %}
            <div class="col-sm-5 mb-5">
              <div class="card">
                <div class="card-header">
                  {{key|capfirst}} / {{topic}}
                </div>
                <div class="card-body">
                  {% for question in values %}
                    <div class="form-group">
                      <label class="form-label" for="{{key}}-{{ forloop.counter }}">{{question}}</label>
                      <textarea id="{{key}}-{{ forloop.counter }}" class="ideas form-input mb-2" rows="1"></textarea>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
      <!-- end of ideas -->

      <!-- thesis -->
      <div class="tab-pane fade" id="thesis" role="tabpanel" aria-labelledby="thesis-tab">
        <div class="container">
          <h4 class="text-secondary"><i class="fas fa-tools"></i> ...</h4>
          <p id="from_ideas"></p>
        </div>
      </div>
      <!-- end of thesis -->

      <!-- outline -->
      <div class="tab-pane fade" id="outline" role="tabpanel" aria-labelledby="outline-tab">
        <div class="container">
          <h4 class="text-success"><i class="fas fa-paint-roller"></i> ...</h4>
        </div>
      </div>
      <!-- end of outline -->

      <!-- proofreading -->
      <div class="tab-pane fade" id="proofreading" role="tabpanel" aria-labelledby="proofreading-tab">
        <h4 class="text-danger"><i class="fas fa-shipping-fast"></i> ...</h4>
      </div>
      <!-- end of proofreading -->
    </div>

  </div>
</body>
{% endblock content %}

{% block javascript %}
<script>

$('textarea').focus(function(){
  $(this).parents('.form-group').addClass('focused');
});

$('textarea').blur(function(){
  var inputValue = $(this).val();
  if ( inputValue == "" ) {
    $(this).removeClass('filled');
    $(this).parents('.form-group').removeClass('focused');
  } else {
    $(this).addClass('filled');
  }
})

$('input').focus(function(){
  $(this).parents('.form-group').addClass('focused');
});

$('input').blur(function(){
  var inputValue = $(this).val();
  if ( inputValue == "" ) {
    $(this).removeClass('filled');
    $(this).parents('.form-group').removeClass('focused');
  } else {
    $(this).addClass('filled');
  }
})


$('.ideas').keyup(debounce(function(){
        var $this=$(this);
        $("#from_ideas").html($this.val());
    },1000));

function debounce(func, wait, immediate) {
    var timeout;
    return function() {
        var context = this, args = arguments;
        var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
    };
};
</script>
{% endblock javascript %}





