{% extends "base.html" %}
{% block style %}
<style>
html,body{
   height:100%;
   width:100%;
}

textarea {
  width: 100%;
  outline: none;
  resize: none;
  overflow: hidden;
  border-width: 0 0 1px;
  border-color: #007bff;
}

textarea:focus {
  border-color: #d9534f;
}

.form-group {
  width: 90%;
  margin-bottom: 50px;
  position:relative;
  & + .form-group {
    margin-top: 10px;
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 5px;
  color: #007bff;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: .75em;
  color: #d9534f;
}

.form-input {
  padding: 0;
}

.form-label.filled {
  color: #28a745;
}

.form-input.filled {
  border-color: #28a745;
}

.editable
{
     display: inline-block;
     word-wrap: break-word;
     padding: 30px;
     background-color: #f3f3f3;
     border-radius: 3px;
     outline: 0;
}

[data-placeholder]:empty:before {
     content: attr(data-placeholder);
     color: #888;
     font-style: italic;
}

</style>
{% endblock style%}
{% block content %}
<div class="container">
  <div class="mt-5 mb-4"><h5 class="debug">{{ idea.topic }}</h5></div>
  <ul class="nav nav-tabs nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#ideas" role="tab" aria-selected="true"><i class="fas fa-seedling"></i> Ideas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" id="thesis-tab" data-toggle="tab" href="#thesis" role="tab" aria-controls="thesis" aria-selected="false"><i class="fas fa-apple-alt"></i> Thesis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" id="outline-tab" data-toggle="tab" href="#outline" role="tab" aria-controls="outline" aria-selected="false"><i class="fas fa-layer-group"></i> Outline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" data-toggle="tab" href="#proofreading" role="tab" aria-controls="proofreading" aria-selected="false"><i class="fas fa-eye"></i> Proofreading</a>
    </li>
  </ul>
  <div class="tab-content mt-5">
    <!-- ideas -->
    <div class="tab-pane fade show active" id="ideas" role="tabpanel" aria-labelledby="ideas-tab">
      {% for question in idea.generate_questions %}
      <div class="row justify-content-md-center">
        <div class="form-group">
          <label class="form-label bg-light" for="question-{{ forloop.counter0 }}">{{question}}</label>
          <textarea id="question-{{ forloop.counter0 }}" class="ideas form-input mb-2 bg-light" rows="1"></textarea>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- end of ideas -->

    <!-- thesis -->
    <div class="tab-pane fade" id="thesis" role="tabpanel" aria-labelledby="thesis-tab">
      <div class="container">
        <div class="row justify-content-md-center">
          <div id="argument" class="editable col col-lg-8 thesis" contenteditable="true"></div>
        </div>
        <div class="row">
          {% for type in evidence_types %}
          <div class="col">
            <div  id="claim-{{ forloop.counter0 }}" class="editable thesis" contenteditable="true" data-placeholder="How do you link the evidence below and the claim above?"></div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          {% for type in evidence_types %}
          <div class="col">
            <div  id="evidence-{{ forloop.counter0 }}" class="editable thesis" contenteditable="true"></div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="container justify-content-md-center mb-5" id="tentative-thesis">
        <p class="lead">
          <span id="thesis-argument" class="text-danger"></span>
          <span id="thesis-claim-0" class="text-success"></span>
          <span id="thesis-claim-1" class="text-info"></span>
          <span id="thesis-claim-2" class="text-primary"></span>
        </p>
      </div>
    </div>
    <!-- end of thesis -->

    <!-- outline -->
    <div class="tab-pane fade " id="outline" role="tabpanel" aria-labelledby="outline-tab">
      <div class="container">
        <p><h6>{{ idea.topic }}</h6></p>
        <p><span id="outline-introduction" contenteditable="true"></span></p>
        <p><span id="outline-paragraph-0"></span></p>
        <p><span id="outline-paragraph-1"></span></p>
        <p><span id="outline-paragraph-2"></span></p>
        <p><span id="outline-conclusion"></span></p>
      </div>
    </div>
    <!-- end of outline -->

    <!-- proofreading -->
    <div class="tab-pane fade" id="proofreading" role="tabpanel" aria-labelledby="proofreading-tab">
      <h4 class="text-danger"><i class="fas fa-shipping-fast"></i> ...</h4>
    </div>
    <!-- end of proofreading -->
  </div>
</div>
<div id="entities" class="invisible">{{idea.entities}}</div>
{% endblock content %}

{% block javascript %}
<script>

function hydrate(e, data) {
  e.focus();
  e.val(data);
  e.click();
  e.blur();
}

function debounce(func, wait, immediate) {
    var timeout;
    return function() {
        var context = this, args = arguments;
        var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
    };
};

$(function() {

  $('textarea').focus(function(){
    $(this).parents('.form-group').addClass('focused');
    $(this).removeClass("filled");
    $(this).siblings('.form-label').removeClass('filled');
  });

  $('textarea').blur(function(){
    var inputValue = $(this).val();
    if ( inputValue == "" ) {
      $(this).removeClass("filled");
      $(this).siblings('.form-label').removeClass('filled');
      $(this).parents('.form-group').removeClass('focused');
    } else {
      $(this).addClass("filled");
      $(this).siblings('.form-label').addClass('filled');
    }
  })

  $('.ideas').on('keypress keyup change click drop keydown cut paste', function() {
    $(this).height('auto');
    $(this).height($(this).prop('scrollHeight'));
  });

  $('.ideas').on('keyup paste', debounce(function() {
    if ($.trim($(this).val()) != "") {
      $(this).addClass("filled");
      $(this).siblings('.form-label').addClass('filled');
    }
  }, 300));

  $('.ideas').on('keyup paste', debounce(function() {
    if ($('.ideas.filled').length >= $('.ideas').length - 1) {
      if ($('#thesis-tab').hasClass('disabled')) {
        $('#thesis-tab').removeClass('disabled');
      }
    }
  }, 500));

  $('.thesis').on('keyup keypress paste', debounce(function() {
    var e0 = $.trim($('#evidence-0').text());
    if (e0 != "") $('#question-0').val(e0);
    var e1 = $.trim($('#evidence-1').text());
    if (e1 != "") $('#question-1').val(e1);
    var e2 = $.trim($('#evidence-2').text());
    if (e2 != "") $('#question-3').val(e2);
    var ar = $.trim($('#argument').text());
    if (ar != "") $('#question-2').val(ar);


      $('#thesis-argument').html(ar);
      var i;
      for (i = 0; i < 3; i++) {
        $('#thesis-claim-' + String(i)).html($.trim($('#claim-' + String(i)).text()));
      }
      if ($('#outline-tab').hasClass('disabled')) {
        $('#outline-tab').removeClass('disabled');
      }

  }, 100));

  $('.nav-tabs a').on('shown.bs.tab', function(e){
    if ($(e.target).attr('id') == 'thesis-tab') {
      var url = "{% url 'essay:build' %}";
      $.ajax({
        headers: {'X-CSRFToken': '{{csrf_token}}'},
        method: "POST",
        url: url,
        data: {
          fact: $.trim($('#question-0').val()),
          definition: $.trim($('#question-1').val()),
          quality: $.trim($('#question-2').val()),
          counterpoint: $.trim($('#question-3').val()),
          policy: $.trim($('#question-4').val()),
        },
        success: function (data) {
          if (data['argument'].length > 0) {
            $('#argument').html(data['argument']);
          }
          for (i=0; i<data['evidences'].length; i++) {
            $('#evidence-' + String(i)).html(data['evidences'][i]);
          }
        }
      });
    }
    if ($(e.target).attr('id') == 'outline-tab') {
      var url = "{% url 'essay:outline' %}";
      $.ajax({
        headers: {'X-CSRFToken': '{{csrf_token}}'},
        method: "POST",
        url: url,
        data: {
          argument: $.trim($('#argument').text()),
          entities: $('#entities').val(),
          'claims[]': [$.trim($('#claim-0').text()), $.trim($('#claim-1').text()), $.trim($('#claim-2').text())],
          'evidences[]': [$.trim($('#evidence-0').text()), $.trim($('#evidence-1').text()), $.trim($('#evidence-2').text())],
        },
        success: function (data) {
          $('#outline-introduction').html(data['introduction']);
          for (i=0; i<data['paragraphs'].length; i++) {
            $('#outline-paragraph-' + String(i)).html(data['paragraphs'][i]);
          }
          $('#outline-conclusion').html(data['conclusion']);
        }
      });
    }
  });

});
</script>
{% endblock javascript %}





