{% extends "base.html" %}
{% block style %}
<style>
html,body{
    height:100%;
}
</style>
{% endblock style%}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/cube.css'%}" type="text/css">
<div id="impress" data-transition-duration="2000">

    <div class="step" data-x="0" data-y="0" data-z="350"
         data-goto-key-list="ArrowUp ArrowDown ArrowRight ArrowLeft o" data-goto-next-list="step-4 step-3 step-2 step-5 overview">
        <p>{{ idea.topic }}</p>
    </div>

    <div class="step" data-x="350" data-y="0" data-z="0" data-rotate-y="90"
         data-goto-key-list="ArrowUp ArrowDown ArrowRight ArrowLeft o" data-goto-next-list="step-4 step-3 step-6 step-1 overview">
        <p>{{ questions.0 }}</p>
    </div>

    <div class="step" data-x="0" data-y="350" data-z="0" data-rotate-x="-90" data-rotate-z="90"
         data-goto-key-list="ArrowUp ArrowDown ArrowRight ArrowLeft o" data-goto-next-list="step-2 step-5 step-6 step-1 overview">
        <p>{{ questions.1 }}</p>
    </div>

    <div class="step" data-x="0" data-y="-350" data-z="0" data-rotate-x="90" data-rotate-z="-90"
         data-goto-key-list="ArrowUp ArrowDown ArrowRight ArrowLeft o" data-goto-next-list="step-5 step-2 step-6 step-1 overview">
        <p>{{ questions.2 }}</p>
    </div>

    <div class="step" data-x="-350" data-y="0" data-z="0" data-rotate-y="-90" data-rotate-z="-180"
         data-goto-key-list="ArrowUp ArrowDown ArrowRight ArrowLeft o" data-goto-next-list="step-3 step-4 step-6 step-1 overview">
        <p>{{ questions.3 }}</p>
    </div>

    <div class="step" data-x="0" data-y="0" data-z="-350" data-rotate-y="-180" data-rotate-z="-180"
         data-goto-key-list="ArrowUp ArrowDown ArrowRight ArrowLeft o" data-goto-next-list="step-3 step-4 step-2 step-5 overview">
        <p>Slide six</p>
    </div>

    <div id="overview" class="step" data-x="700" data-y="-100" data-z="1000" data-scale="1" style="pointer-events: none;">
    </div>
</div>

<script src="{% static 'js/impress.js' %}"></script>
<script>impress().init();</script>

{% endblock content %}



