{% extends "base.html" %}
{% block style %}
<style>
html,body{
    height:100%;
}
</style>
{% endblock style%}

{% block content %}
<body class="bg-light">
  <div class="container-fluid h-75">
    <div class="h-25"></div>
    <div class="row h-25 justify-content-center">
      <div class="form-group w-50">
        <form action="{% url 'essay:dashboard' %}" method="post" class="form-inline">
          {% csrf_token %}
        <input type="text" class="form-control col-sm-10" name="topic" id="topic">
        <div class="form-group col-sm-1">
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
        </form>
        <small>Topic, title, keywords, prompt, or assignment</small>
      </div>
    </div>
    {% if idea %}
      <div class="row justify-content-center">You: {{idea.topic}}<span class="ml-2 text-success"><i class="fas fa-smile-wink"></i></span></div>
      <div class="row justify-content-center">Me: you kiddin' me?<span class="ml-2 text-danger"><i class="fas fa-meh-rolling-eyes"></i></span></div>
    {% endif %}

  </div>
</body>
{% endblock content %}

{% block javascript %}
<script>
$(function() {
  $('button').click(function (e) {
    e.preventDefault();
    if ($.trim($('#topic').val()).length > 0) $('form').submit();
  });
});
</script>
{% endblock javascript %}


