{% extends "base.html" %}
{% block style %}
<style>
html,body{
    height:100%;
}
</style>
{% endblock style%}

{% block content %}
<body class="bg-light">
    <div class="container-fluid h-75">
      <div class="row h-50 justify-content-center">
        <form action="{% url 'essay:dashboard' %}" method="post" class="form-inline">
          {% csrf_token %}
          <div class="form-group">
            <label>Topic, prompt, or assignment</label>
          </div>
          <div class="form-group mx-sm-3">
            <input type="text" class="form-control" name="topic" placeholder="">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Go</button>
          </div>
        </form>
    </div>
</div>
</body>
{% endblock content %}




