{% extends "base.html" %}
{% block style %}
<style>
.editable {
    border: none;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;

    resize: none; /*remove the resize handle on the bottom right*/
    display: inline-block;
    word-wrap: break-word;
    border-radius: 3px;
}

[data-placeholder]:empty:before{
  content: attr(data-placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: #a3a3a3;
  font-size: 1.2em;
}
</style>
{% endblock style%}

{% block content %}
<body class="bg-light">
    <div class="row">&nbsp;</div>
    <p class="cursor"><span id="article" class="editable" contenteditable="true" data-placeholder="Copy and paste your article here."></span></p>
    <p>
      <form action="{% url 'essay:parse' %}" method="post">
          {% csrf_token %}
        <textarea name="content" id="content" type="hidden"></textarea>
        <div class="form-group">
          <button id="continue" type="submit" class="btn btn-primary">Continue</button>
        </div>
      </form>
    </p>
</body>
{% endblock content %}

{% block javascript %}
<script>
$(function() {
  $('#content').hide();
  $('#continue').hide();
  $('#article').focus();
  $('#article').on('paste', function() {
    $this = $(this);
    setTimeout(function() {
        $this.html($this.html().replace(/\<\/p\>/g," [br]").replace(/\<br\>/g," [br]").replace(/\<\/div\>/g," [br]").replace(/(<\/h)([0-6])>/g, " [br]"));
        // remove all the tags, and then replace the tokens for their original values
        $this.html($this.text().replace(/\[p\]/g, "<br>").replace(/\[br\]/g,"<br>").replace(/\[div\]/g,"<br>").replace(/(\[h\])([0-6])/g, "<br>"));
        $('#article').html($this.html());
    }, 100);
  });

  $('#article').keyup(function(){
    var c = $.trim($('#article').html());
    if (c.length == 0) {
        $('#continue').hide(100);
    } else {
      $('#continue').show(100);
    }
  });

  $('button').click(function (e) {
    e.preventDefault();
    var c = $.trim($('#article').html());
    if (c.length > 0) {
      $('#content').val(c);
      $('button').attr("disabled", true);
      $('form').submit();
    }
  });
});
</script>
{% endblock javascript %}


