{% extends "base.html" %}
{% block style %}
<style>
textarea {
     display: inline-block;
     word-wrap: break-word;
     /* background-color: #f3f3f3; */
     border-radius: 3px;
     outline: 0;
     caret-color: transparent;
}

.caret {
    caret-color: auto;
}
.cursor {
    position: relative;
}
.cursor i {
    position: absolute;
    width: 1px;
    height: 55%;
    background-color: black;
    left: 0px;
    top: 25%;
    animation-name: blink;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

.cursor input:focus + i {
    display: none;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

textarea {
    border: none;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;

    resize: none; /*remove the resize handle on the bottom right*/
}

::placeholder {
  pointer-events: none;
  display: block; /* For Firefox */
  font-size: 2em;
}

</style>
{% endblock style%}
{% block content %}
<div id="first-row" class="d-flex h-50 mt-4"></div>
<div id="prompt" class="row mt-2 cursor"><textarea id="content" rows="2" cols="150" maxlength="300" placeholder="Enter a topic, title, or prompt. See how we can help."></textarea><i></i></div>
<div id="ideas">
    <div class="row mt-2"><textarea id="question" rows="2" cols="150" readonly></textarea><i></i></div>
    <div class="row mt-2"><textarea id="answer" rows="4" cols="150" maxlength="512"></textarea><i></i></div>
</div>
<div class="row">
    <button id="continue" class="btn btn-primary btn-block col-sm-2">Continue</button>
</div>


{% endblock content %}

{% block javascript %}
<script>

function collectIdeas(url, data) {
    $.ajax({
        headers: {'X-CSRFToken': '{{csrf_token}}'},
        method: "POST",
        url: url,
        data: data,
        success: function (data) {
          $('#prompt').hide();
          if (step == 0) $('#first-row').append('<div><sup><span class="badge badge-dark">Topic</span></sup> ' + topic + '</div>');
          var answer = $.trim($('#answer').val());
          var c = answer.replace(/&nbsp;/g, "");
          if (c.length > 0) $('#first-row').append('<div class="mr-2"><sup><span class="badge badge-success">' + badge + '</span></sup> ' + answer + '</div>');
          badge = data['stasis'];
          $('#question').attr('placeholder',data['question']);
          $('#ideas').show(500);
          $('#continue').hide();
          $('#answer').val('');
          $('#answer').focus();
          $('#answer').addClass('caret');
          if (step < 4) step++;
          loading = false;
        },
        error: function() {
          loading = false;
        }
    });
}

function debounce(func, wait, immediate) {
    var timeout;
    return function() {
        var context = this, args = arguments;
        var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
    };
};

var topic;
var step = 0;
var loading = false;
var stasis = ['Observation', 'Nature', 'Evaluation', 'Complication', 'Policy'];
var badge;
$(function() {
  $('#continue').hide();
  $('#ideas').hide();
  $('#content').focus();

  $('#content').keydown(function(){
    $(this).parent().removeClass("cursor");
    $('#content').addClass("caret");
  });

  $('#content').keyup(function(){
    var c = $.trim($('#content').val());
    if (c.length == 0) {
        $(this).parent().addClass("cursor");
        $("#content").removeClass("caret");
        $('#continue').hide(100);
    }
  });

  $('#content, #answer').on('paste', function() {
    $(this).parent().removeClass("cursor");
    $("#content").addClass("caret");
    $this = $(this);
    setTimeout(function() {
        $this.html($this.html().replace(/\<\/p\>/g," [br]").replace(/\<br\>/g," [br]").replace(/\<\/div\>/g," [br]").replace(/(<\/h)([0-6])>/g, " [br]"));
        // remove all the tags, and then replace the tokens for their original values
        $this.html($this.text().replace(/\[p\]/g, "<br>").replace(/\[br\]/g,"<br>").replace(/\[div\]/g,"<br>").replace(/(\[h\])([0-6])/g, "<br>"));
        $('#content').html($this.html());
    }, 100);
  });

  $('textarea').on('keyup paste', debounce(function() {
    if (step == 0) {
        var c = $.trim($('#content').val());
        topic = c.replace(/&nbsp;/g, " ");
        if (topic.length > 5) {
          $('#continue').show(100);
        } else if (topic.length == 0) {
            $("#panel").addClass("cursor");
            $("#content").removeClass("caret");
            $('#continue').hide(100);
        }
    } else {
        var c = $.trim($('#answer').val());
        if (c.length > 5) {
          $('#continue').show(100);
        } else {
          $('#continue').hide(100);
        }
    }
  }, 1500));

  $('#continue').click(function (e) {
    if (loading) return;
    loading = true;
    if (step < 5) {
        var url = "{% url 'essay:questions' %}";
        collectIdeas(url, {topic: topic, stasis: stasis[step]});
    }
  });

  $('#ideas').click(function(e) {
    $('#answer').addClass('caret');
    $('#answer').focus();
  });
});
</script>
{% endblock javascript %}